.landing-page-container {
  height: 100vh;
  row-gap: 1rem;
  position: relative;
  h1 {
    font-family: "Silkscreen", "cursive";
    font-size: 7rem;
  }
  h3 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 8px;
  }
  a {
    padding: 1rem 3rem;
    border:solid 2px rgba(0, 0, 0, 0.4);
    // border:solid 2px rgba(4, 52, 119, 0.9);
    // background-color: rgba(4, 52, 119, 0.9);
    // color: white;
    color:rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 4rem;
  }
}
