.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.53);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(12.8px);
  z-index: 5;
}
.nav-logo {
  height: 100%;
  h1 {
    font-family: "Silkscreen", "cursive";
    font-size: 2.1rem;
    width:auto;
    height: auto;
    cursor: pointer;
  }
}
.nav-links {
  width: 45vw;
  column-gap: 5rem;
  button,
  a {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
  }
  a:nth-child(5) {
    border: 2px solid black;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    transition: color 0.4s;
    background-color: rgba(0, 0, 0, 0.05);

    &:hover {
      color:#059f76;
    }
  }
}
